
Trancity/bin/Debug/Screenshots/Transedit 24-01-2021 16-49-12-333.jpg
Trancity/bin/Debug/Data/DeviceOptions.xml
Trancity/bin/Debug/options.ini
Trancity/bin/Debug/Trancity.exe - Ярлык.lnk
Trancity/bin/Debug/Trancity.log
Trancity/bin/Debug/Screenshots/Thumbs.db
Trancity/bin/Debug/Data/Transport/ЗиУ-682 ВОА/Thumbs.db
Trancity/bin/Debug/Data/Transport/ЗиУ-682 ВОА/ziu-682(V0O)/Thumbs.db
Trancity/bin/Debug/Data/Transport/ЗиУ-682/Thumbs.db
Trancity/bin/Debug/Data/Transport/ЗиУ-682 ВОА/Thumbs.db
/.vs
/CppProperties.json
/Новая папка - Ярлык.lnk
/Thumbs.db
